body {
     font-family: Arial, sans-serif;
     background-color: #f2f2f2;
     margin: 0;
     padding: 0;
 }
 
 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }
 
 .image-section {
     flex: 1;
     background-image: url('./halie-west-25xggax4bSA-unsplash.jpg');
     background-size: cover;
     background-position: center;
     text-align: center;
     height: 87vh;
     padding: 20px;
     position: relative;
     border-radius: 6px;
 }
 
 .image-text {
     font-size: 50px;
     font-weight: bold;
     color: #fff;
     position: absolute;
     top: 50%;
     bottom: 50%;
     left: 50%;
     right: 50%;
 }
 
 .form-section {
     flex: 1;
     background-color: #fff;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }

 .form-description {
    font-size: 17px;
    text-align: center;
    margin-bottom: 3px;
 }
 
 h2 {
     font-size: 24px;
     margin-bottom: 20px;
 }
 
 .form-group {
     margin-bottom: 20px;
 }
 
 label {
     display: block;
     font-weight: bold;
 }
 
 input[type="text"],
 input[type="email"],
 input[type="password"] {
     width: 100%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
 }
 
 .btn {
     background-color: #007bff;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 4px;
     cursor: pointer;
     font-weight: bold;
     transition: background-color , transform 0.2s;
    
 }

 .btn:hover {
    background-color: #2d6db1;
    transform: translateY(-5px);
 }
 
 p {
     margin-top: 10px;
     font-size: 14px;
 }
 
 a {
     color: #007bff;
     text-decoration: none;
 }

 /* Add border styles for valid inputs */
input:valid {
     border: 2px solid #2ecc71; /* Green border for valid inputs */
 }
 
 /* Add border styles for invalid or empty inputs */
 input:focus {
     border: 2px solid #e74c3c; /* Red border for invalid or empty inputs */
 }
 
 /* Style placeholders to match border colors */
 input:valid::placeholder {
     color: #2ecc71; /* Green placeholder text for valid inputs */
 }
 
 input:invalid::placeholder {
     color: #e74c3c; /* Red placeholder text for invalid or empty inputs */
 }

 
 
 @media (max-width: 768px) {
     .container {
         flex-direction: column;
     }
 
     .image-section {
         width: 100%;
         text-align: center;
         padding: 0;
         background-size: contain;
     }
 
     .image-text {
         font-size: 18px;
     }
 
     .form-section {
         width: 100%;
     }
 }
 